@import "./variables.scss";

:root {
  height: 100vh;
  transition: background 1s ease-in-out;
  background-size: cover;

  &:not(.hero-page)::before {
    content: "";
    background: $background;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
}

body {
  position: relative;
  color: $text-color;
  margin: auto;
  max-width: $max-width;
  height: calc(100vh - 3.5rem);
  overflow: hidden;

  @media only screen and (max-width: 821px) {
    overflow-y: auto;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 3rem 0;
  position: relative;
  z-index: 4;

  @media only screen and (max-width: 767px) {
    .menu {
      height: 16px;
      width: 32px;
    }

    .logo {
      height: 35px;
      width: 132px;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .login {
      height: 22px;
      width: 23px;
    }
  }
}
