.container {
  display: flex;
  flex: 1;

  @media only screen and (max-width: 767px) {
    flex-direction: column;
    min-height: 100vh;
  }
}

.carousel {
  flex: 1;
  width: 100%;
  position: relative;
  left: -10%;

  @media only screen and (max-width: 767px) {
    left: -90%;
    margin-top: 32px;
  }
}

.wrapper {
  height: 130vh;
  position: relative;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  @media only screen and (max-width: 767px) {
    height: 600px;
  }
}

.details {
  flex: 1;
  position: relative;
  margin-top: 3rem;
  height: 100%;

  @media only screen and (max-width: 767px) {
    margin-top: -80%;
    padding: 100px 40px 0px 40px;
    background: linear-gradient(0deg, #ce0000 85.5%, rgba(206, 0, 0, 0) 93.6%);
    z-index: 20;
  }
}

.hero {
  height: 100%;
  position: absolute;
  width: 500px;
  left: 0;

  @media only screen and (max-width: 767px) {
    width: 100%;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center right;
  }
}
