@import "@/app/variables.scss";

.title {
  font-size: 26vw;
  margin: 0;

  @media screen and (min-width: $max-width) {
    font-size: 30rem;
  }

  @media only screen and (max-width: 767px) {
    margin-top: 28px;
    font-size: 22vw;
  }
}

.heroes {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: calc($max-width - 700px);
  width: 100%;
  position: absolute;
  top: 40%;

  @media screen and (min-width: $max-width) {
    max-width: calc($max-width - 400px);
    top: 50%;
  }

  @media only screen and (max-width: 767px) {
    filter: blur(4px);
    width: 80%;
    top: 60vh;
  }
}

.imageContainer {
  position: relative;
  bottom: 0;

  @media only screen and (max-width: 821px) {
    max-height: 82px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom;
  }

  &.spider-man-616 {
    height: $spider-man-616-height;
  }
  &.mulher-aranha-65 {
    height: $mulher-aranha-65-height;

    @media only screen and (max-width: 767px) {
      max-height: 67px;
    }
  }
  &.spider-man-1610 {
    height: $spider-man-1610-height;
  }
  &.sp-dr-14512 {
    height: $sp-dr-14512-height;
  }
  &.spider-ham-8311 {
    height: $spider-ham-8311-height;

    @media only screen and (max-width: 767px) {
      max-height: 32px;
    }
  }
  &.spider-man-90214 {
    height: $spider-man-90214-height;
  }
  &.spider-man-928 {
    height: $spider-man-928-height;
  }
}
